
        <footer class="l-footer">
          <ul class="nav">
            <li><a href="https://github.com/kachunchau/barebones-hammer">View on Github</a></li>
            <li><a href="https://github.com/kachunchau/barebones-hammer/raw/master/barebones.hammer">Get Hammer Template</a></li>
          </ul>
        </footer>
      </div>
    </div>
    
    <div class="overlay" id="overlay">
      <div class="table-cell">
        <div class="modal">
          <header class="modal-header">
            <h3 class="modal-title">About</h3>
          </header>
          
          <div class="modal-body">
            <p>Footer Content Placeholder</p>
            
            <p>Creative Commons License Placeholder</p>
            

          </div>
          
          <footer class="modal-footer">
            <a class="btn btn--small modal-close" href="#none">Close</a>
          </footer>
        </div>
      </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script>window.Zepto || document.write('<script src="javascript/vendor/zepto.min.js"><\/script>')</script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>