    <header class="l-header">
      <div class="l-constrained flag">
        <div class="table-cell">
          <a class="menu-link btn btn--small" href="#">Menu</a>
        </div>
        
        <div class="table-cell text-right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </header>
    
    <div class="drawer">
      <nav>
        <ul class="nav nav--primary">
          <li><a href="#Design">Design</a></li>
          <li><a href="#Define">Define</a></li>
          <li><a href="#Demo">Demo</a></li>
          <li><a href="#Deliberate">Deliberate</a></li>
          <li><a href="#Decide">Decide</a></li>
          <li><a href="#Deploy">Deploy</a></li>
        </ul>
      </nav>
      
      <div class="l-constrained">
        <div class="hero">
          <div class="tagline h-grp">
            <h1 class="giga">DesignDeploy</h1>
            <p class="lead">Integrated Continuous Deployment</p>
          </div>
          
          <ul class="l-inline cta">
            <li><a class="btn" href="https://github.com/DazzaGreenwood/CIVICS/tree/master">View on Github</a></li>
            <li><a class="btn" href="https://github.com/DazzaGreenwood/CIVICS/issues/new">Connect</a></li>
          </ul>
        </div>